/* Flex Grid */

.grid {
  display: block;
}

.grid--flex {
  display: flex;
}

.grid--wrap {
  flex-wrap: wrap;
}

.col {
  flex: 1;
}

/* With gutters */
.grid--gutters {
  margin: -1em 0 0 -1em;
}
.grid--gutters > .col {
  padding: 1em 0 0 1em;
}

/* Alignment per row */
.grid--top {
  align-items: flex-start;
}
.grid--bottom {
  align-items: flex-end;
}
.grid--center {
  align-items: center;
}

/* Alignment per cell */
.col--top {
  align-self: flex-start;
}
.col--bottom {
  align-self: flex-end;
}
.col--center {
  align-self: center;
}


/* Column size */
.col--full {
  flex: 0 0 100%;
}
.col--1of2 {
  flex: 0 0 50%
}
.col--1of3 {
  flex: 0 0 33.3333%
}
.col--1of4 {
  flex: 0 0 25%
}

@media (min-width: 24em) {
  
  .grid {
    display: flex;
  }
  
  .col--sm--full {
    flex: 0 0 100%;
  }
  .col--sm--1of2 {
    flex: 0 0 50%
  }
  .col--sm--1of3 {
    flex: 0 0 33.3333%
  }
  .col--sm--1of4 {
    flex: 0 0 25%
  }
  
}

@media (min-width: 48em) {
  
  .grid--lg {
    display: flex;
  }

  /* Column size */
  .col--lg--full {
    flex: 0 0 100%;
  }
  .col--lg--1of2 {
    flex: 0 0 50%
  }
  .col--lg--1of3 {
    flex: 0 0 33.3333%
  }
  .col--lg--1of4 {
    flex: 0 0 25%
  }

}