
// BASE

.display {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
}

.spacer {
  height: 40px;
}

a.btn {
  border: 1px solid #666;
  padding: 10px 14px;
  display: inline-block;
  //transition: all 0.6s;
  &:hover {
    text-decoration: none;
    border-color: #000;
    color: #000;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 40px 0;
}

.upper {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

// PAGE

.section-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

.post-loop {

}

.post-loop article {
  margin-bottom: 50px;
}

.posts-pagination {

  font-size: 1.5em;

  .nav-links {

    text-align: center;

    a {

      margin: 0 20px;

    }

  }
  
}


// HEADER

header {
  padding-top: 50px;
  border-bottom: 1px solid #eee;
  
  
  .header {
    position: relative;
  }
  .header--marca {
    position: absolute;
    display: block;
    top: -5px;
  }
}
header .site-menu,
header .site-categories {
    display: block;
    text-transform: uppercase;
}

header .site-menu ul,
header .site-categories ul {
    display: block;
    margin: 0;
    padding: 0;
}

header .site-menu li,
header .site-categories li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}

header .site-menu {
    text-align: right;

    .current-menu-item {
      text-decoration: underline;
    }
}

header .site-categories {
    font-size: 1.5em;
    padding: 60px 0 0;
    text-align: right;

    .current-cat {
      text-decoration: underline;
    }
}

#mobile_menu hr {
  margin: 10px auto;
  width: 50%;
}

// FOOTER

footer {
  border-top: 1px solid #eee;

  img {
    max-width: 100%;
  }

}

.footer--social-icons {

  opacity: 0.5;
  transition: opacity 0.6s;
  margin-right: 4px;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }

}

.footer-cc {
  font-size: 12px;
  line-height: 1.2em;
}

.footer-apoio-images a {
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;
}


// CAROUSEL

.carousel-cell {
  width: 100%;
}

.flickity-viewport {
  transition: height 0.2s;
}

.flickity-page-dots {
  bottom: -50px;
}

/* smaller, dark, rounded square */
.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #fff;
}
.flickity-prev-next-button:hover {
  background: #ccc;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: ddd;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}


// DESTAQUES

@media (min-width: 64em) {

  .destaque-info {
    padding-left: 30px;
  }

  .destaque-info h3 {
    margin-top: 0;
  }

}

// SOBRE

.content .sobre-equipe--pessoa {
  img {
    max-width: 100%;
  }
  h3 {
    margin: 0;
    margin-top: 0.5em;
  }
  h4 {
    margin: 0;
    margin-bottom: 1em;
  }
}

.modal-sobre {
  .content {
    h3 {
      margin-bottom: 0.2em;
    }
  }
}

// EIXOS

.eixos--description {
  margin: 0 auto 40px;
  width: 80%;
  font-size: 1.2em;
  line-height: 1.2em;
}

.eixos--projetos-link {
  text-align: center;
  margin: 40px 0; 
}

.filter-title {
  //text-align: center;
}


// EDITOR

.wp-caption-text {
  font-size: 0.8em;
}