$family-sans-serif: 'Source Sans Pro', sans-serif;
$font-heading: 'Rajdhani', sans-serif;

$body-size: 18px;

$size-1: 4rem;
$size-2: 3rem;
$size-3: 2.4rem;
$size-4: 2rem;
$size-5: 1.5rem;
$size-6: 1rem;
$size-7: 0.75rem;

$link: $grey-dark;
$link-visited: $grey-dark;
$link-active: $black;
$link-focus-border: $black;

$modal-content-width: 800px;
$modal-card-body-padding: 60px;